- var link = 'firebase-auth-google-fb'
- var title = 'Firebase Authentication 第三方登入 - Google、FB'
- var description = '本篇大綱：本篇要解決的問題。建立 Firebase 專案、應用程式。Google：開通 Authentication 功能。Google 登入。Facebook：應用程式、ID、密鑰、URL。Facebook 登入。登出、刪除帳號。範例及原始檔。'

<!DOCTYPE html>
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title} - Augustus - Let's Write

    link(rel="canonical", href=`https://letswrite.tw/${link}/`)
    meta(property="og:url", content=`https://letswritetw.github.io/letswrite-${link}/`)

    meta(property="fb:app_id", content="911000986339138")
    meta(property="og:type", content="website")

    meta(property="og:site_name", content="Let's Write")
    meta(property="og:title", content=`${title} - Augustus - Let's Write`)
    meta(itemprop="name", content=`${title} - Augustus - Let's Write`)

    meta(name="description", content=description)
    meta(property="og:description", content=description)
    meta(itemprop="description", content=description)

    meta(itemprop="image", content=`https://letswritetw.github.io/letswrite-${link}/fb.jpg`)
    meta(property="og:image", content=`https://letswritetw.github.io/letswrite-${link}/fb.jpg`)
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="630")
    meta(property="og:image:alt", content=title)

    link(rel="shortcut icon", href="https://letswritetw.github.io/letswritetw/dist/img/logo_512.png")

    //- css
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css")
    link(rel="stylesheet", href="dist/style.min.css")

    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGQ9WQT');
  body

    // Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PGQ9WQT", height="0", width="0", style="display:none;visibility:hidden")
    
    #app.container

      h1.text-center Firebase 第三方登入 - Google、FB
      hr
      p.text-center 筆記文：
        a(href="", target="_blank") Let's Write

      blockquote
        a(href="index.html") Firebase V8 版本請點此
      
      h2 先安裝 firebase Package
      pre
        code
          | npm install firebase<br/><br/>
          | 或<br/><br/>
          | yarn add firebase

      hr

      h2 Google
      h3 選擇登入方式
      div
        input#g-popup(type="radio", name="googleType", value="popup", checked)
        label(for="g-popup") Popup
      div
        input#g-redirect(type="radio", name="googleType", value="redirect")
        label(for="g-redirect") Redirect
      h3 點擊登入
      button#google(type="button") Google 登入

      pre
        code#googleCode 登入完後的資料會出現在這
      pre
        code#googleError 有錯誤的話會出現在這
      
      hr

      h2 Facebook

      h3 選擇登入方式
      div
        input#fb-popup(type="radio", name="fbType", value="popup", checked)
        label(for="fb-popup") Popup
      div
        input#fb-redirect(type="radio", name="fbType", value="redirect")
        label(for="fb-redirect") Redirect

      h3 點擊登入
      button#fb(type="button") Facebook 登入

      pre
        code#fbCode 登入完後的資料會出現在這
      pre
        code#fbError 有錯誤的話會出現在這


      hr

      section#out.d-none

        h2 登出 / 刪除
        button#signOut(type="button") 登出
        button#deleteUser(type="button") 刪除我的帳號

        pre
          code#userError 登出、刪除有錯誤的話會出現在這

        hr

    script(src="dist/v9.min.js")
